body{
    margin:0;

}
a{
    color:black;
    text-decoration:none;
}
#grid{
    display:grid;
    grid-template-columns:150px 1fr;
}
h1{
    text-align:center;
    border-bottom: 1px solid gray;
    margin:0;
    padding:20px;
    font-size:50px;
}
#nav ol{
    padding-left:30px;
    margin:0;
    padding:20px;
    padding-left:40px;
}
#article{
    padding:20px;
    padding-top:0;
    border-left:1px solid gray;
}
body h2{
    font-size:30px;
    color:gray;
}
@media(max-width:800px){
    #grid{
        display:block;
    }
    #article{
        border-left:none;
    }
    h1{
        border-bottom:none;
    }
}